
@section styles
{
    @Styles.Render("~/styles/common")
}


<h3>prototype</h3>

<div id="locationField">
    <input id="autocomplete" placeholder="Enter your address" type="text"></input>
</div>
<table id="address">
    <tr>
        <td class="label">Street address</td>
        <td class="slimField">
            <input class="field" id="street_number" disabled="true"></input>
        </td>
        <td class="wideField" colspan="2">
            <input class="field" id="route" disabled="true"></input>
        </td>
    </tr>
    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" id="locality" disabled="true"></input>
        </td>
    </tr>
    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" id="administrative_area_level_1" disabled="true"></input>
        </td>
      
    </tr>
    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" id="country" disabled="true"></input>
        </td>
    </tr>
</table>
<div id="mapWrapper" style="height:500px; width:500px;">
    <div id="map" style="height:100%"></div>
</div> 

@section scripts{
    @Scripts.Render("~/bundles/prototype")
}
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSoKAFI4tAZMWc8dVZxZQOZ10xzvXqGs0&signed_in=true&sensor=false&libraries=places&callback=PTP.Controllers.AddressAutocomplete.prototype._apiLoadedCallback" async defer></script>*@