
@section styles
{
    @Styles.Render("~/styles/common")
}


<h3>prototype</h3>

<div id="locationField">
    <input id="autocomplete" placeholder="Enter your address" type="text"></input>
</div>
<table id="address">
    <tr>
        <td class="label">Street address</td>
        <td class="slimField">
            <input class="field" id="street_number" disabled="true"></input>
        </td>
        <td class="wideField" colspan="2">
            <input class="field" id="route" disabled="true"></input>
        </td>
    </tr>
    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" id="locality" disabled="true"></input>
        </td>
    </tr>
    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" id="administrative_area_level_1" disabled="true"></input>
        </td>
      
    </tr>
    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" id="country" disabled="true"></input>
        </td>
    </tr>
</table>

<form name="saveForm" id="saveForm">
    <label for="City">City</label>
    <input name="City" id="City" type="text"  />

    <label for="Tech">Tech</label>
    <input name="Tech" id="Tech" type="text" />

    <label for="Coverage">Coverage</label>
    <input name="Coverage" id="Coverage" type="text"/>
    
    <label for="DateTime">DateTime</label>
    <input name="DateTime" id="DateTime" type="datetime"/>
    <br/>
    
    <label for="Country">Country</label>
    <input name="Country" id="Country" type="text" />
    
    <label for="State">State</label>
    <input name="State" id="State" type="text" />

    <input type="button" name="Save" id="Save" value="Save" />
</form>

 <div id="mapWrapper" style="height:500px; width:500px;">
    <div id="map" style="height:100%"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/prototype")
}
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSoKAFI4tAZMWc8dVZxZQOZ10xzvXqGs0&signed_in=true&sensor=false&libraries=places&callback=PTP.Controllers.AddressAutocomplete.prototype._apiLoadedCallback" async defer></script>*@